@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-sm: 600px;

  --color-dr-white: #fbfbfb;
  --color-dr-black: #101720;
  --color-dr-yellow: #FFB200;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    --color-background:  var(--color-dr-white);
    --color-foreground:  var(--color-dr-black);
  }

  .dark {
    --color-background:  var(--color-dr-black);
    --color-foreground:  var(--color-dr-white);
  }
}




body {
  color: var(--color-foreground);
  background: var(--color-background);
}
